rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users
    match /users/{user} {
    	allow read;
    	allow create;
    	allow update: if request.auth.uid == user
    }
    // Coments
    match /coments/{user} {
    	allow read;
    	allow create;
    	allow update: if request.auth.uid == user
    }
    // Coments edit
     match /coments/{user} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth.uid == resource.data.uid;
    }
  }
}
